.cards {
  margin: 32px 64px;
  place-items: center;
}

.cards__title {
  justify-self: flex-start;
  margin: 0 0 24px;
  font-weight: 400;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(4, 282px);
  grid-auto-rows: 360px;
  gap: 24px;
  list-style: none;
  padding: 24px;
  margin: 0;
  place-items: center;
}
