.cards{
    margin: 32px 64px;
}

.cards__title {
    margin: 0 0 24px;
    font-weight: 400;
}

.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 24px;
}